<h1>MUSIC WALL 2016</h1>

<a href="/songs/new">Post a song!</a>

<% @songs.each do |song| %>
  <div class="song">
  <h3><%= song.title %></h3>
  <h4>by <%= song.artist %></h4>
  <p>submitted by: <%= song.author %> on <%= song.created_at %></p>
<% end %>


