<% if @song && @song.errors.any? %>
  <div>
    <strong>Hmm, something's not right. Please fix the errors:</strong>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method ="post" action="/songs">
  <div>
    <label>Song title:</label>
    <input type="text" name="title" placeholder="Song title">
  </div>

  <div>
    <label>Artist:</label>
    <input type="text" name="artist" placeholder="Artist">
  </div>

  <div>
    <label>Author:</label>
    <input type="text" name="author" placeholder="Author">
  </div>

  <div>
    <input type="submit" value="Submit!">
  </div>

</form>
