<h1>MUSIC WALL 2016</h1>

<h3>This is the ultimate, most amazing place to post your favourite (or least favourite!) songs, vote for other songs, and be a cool kid.</h3>
<br/>


<h3><a href="/register">CREATE AN ACCOUNT</a></h3>
<h3>LOG IN</h3>

<form action="/login" method="POST" class="form-inline">

  <div class="form-group">
    <label class="sr-only">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username">
  </div>

  <div class="form-group">
    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-default">Sign in</button>

</form>

