<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MUSIC WALL 2016</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--
      application.css is where you put your styles
    -->
    <link rel="stylesheet" href="/stylesheets/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascript/application.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
